* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color:aliceblue
}

header {
  font-family: 'Times New Roman', Times, serif;
  background-color: #1a1a2e;
  color: rgb(255, 255, 255);
  padding: 16px 24px;
  font-size: 1.2rem;
}

.layout {
  display: flex;
  flex: 1;
}

.upload-panel {
  font-family: 'Times New Roman', Times, serif;
  width: 400px;
  background-color: #000000;
  padding: 24px;
  border-right: 1px solid #241010;
}

.chat-panel {
  font-family: 'Times New Roman', Times, serif;
  flex: 1;
  padding: 24px;
  background-color: #000000;
}

.chat-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

#chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 16px;
}

.chat-input-area {
  display: flex;
  gap: 8px;
}

#user-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  resize: none;
}

button {
  padding: 10px 20px;
  background-color: #1a1a2e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.message-user {
  background-color: #1a1a2e;
  color: white;
  padding: 10px 14px;
  border-radius: 18px 18px 4px 18px;
  margin-bottom: 10px;
  max-width: 70%;
  align-self: flex-end;
  margin-left: auto;
}

.message-ai {
  background-color:#323258;;
  color: #ffffff;
  padding: 10px 14px;
  border-radius: 18px 18px 18px 4px;
  margin-bottom: 10px;
  max-width: 70%;
}

#chat-messages {
  display: flex;
  flex-direction: column;
}